*{
    outline: 1px solid red;
}
main{
    margin-left: 15vw;
    margin-right: 15vw;
}
#profile > div{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2vw;
}
#profile > div div:first-child{
    height: fit-content;
}
#profile > div > div:first-child > div{
    text-align: center;
    margin: 0 auto;
    display: block;
}
#profile > div > div:first-child > div:hover{
    cursor: pointer;
    text-decoration: underline;
}
#profilepic{
    width: 15vw;
    margin-left: auto;
    margin-right: auto;
}
#profile div:nth-child(2){
    width: inherit;
    display: grid;
    grid-template-columns: 3fr 5fr;
    row-gap: 0.8vw;
}
#profile div:nth-child(2) div{
    border-bottom: white solid 1px;
}
